@import "../../style/variables.scss";

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  max-width: 1400px;
  width: 100%;
  min-height: calc(100vh - 95px - 62px);
}
