@import "../../style/variables.scss";

.search_page {
  font-family: Beleren SmallCaps;
  color: $text-color;
  padding: 8rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_form {
  position: relative;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    &:focus {
      outline: none;
      box-shadow: 2px 4px 25px 7px $main-color;
    }
  }
  &_elem {
    display: flex;
    align-items: center;
  }
  &_name {
    padding: 0 1rem;
    font-family: Roboto;
    font-weight: 500;
    width: 50rem;
    height: 3rem;
    border: none;
    font-size: 1.4rem;
  }
  &_submit {
    color: $text-color;
    font-size: 2rem;
    font-family: Beleren SmallCaps;
    margin-left: 2rem;
    width: 10rem;
    height: 3.6rem;
    border: none;
    background: $alter-button-color;
    // transform: translateY(-2px);
  }
}

.card_modal {
  position: absolute;
  margin: 0;
  z-index: 10;
  transform: translate(-6rem, 3.6rem);
  background-color: #fff;
  width: 52rem;
  a {
    font-weight: 400;
  }
  &_elem{
    &_wrapper{
      color: #000;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      font-family: Roboto;
      font-size: 1.4rem;
      span {
        font-weight: 500;
      }
    }
    
  }
  
}