@import "../../../style/variables.scss";

.card_info {
  height: calc(100% - 1rem);
  margin-bottom: 1.6rem;
  width: 100%;
  background-color: $darker-bg;
  border-radius: 0.69rem;
  overflow: hidden;
  padding: 0.5rem 0;
  font-size: 2.4rem;
  &_elem {
    font-family: Roboto;
    background-color: $lighter-bg;
    
    padding: 0.1rem 1.5rem;
    font-size: 2.4rem;
    color: $alter-text-color;
    display: flex;
    gap: 1rem;
    line-height: 2.8rem;
    &-set_name, &-set{
      font-family: Beleren;
    }
    &-released_at{
      font-size: 1.8rem;
      color: #888888;
    }
    &-rarity{
      text-transform: capitalize;
    }
    &-rarity, &-foil{
      font-size: 2.2rem;
    }
  }
  
  // &_wrapper {
  //   width: 100%;
  //   height: 100%;
  // }
}
