@import "../../style/variables.scss";

.header{
  width: 100%;
  height: auto;
  background-color: $darker-bg;
  padding: 0.5rem 0 1.2rem;
  display: flex;
  justify-content: center;
  &_logo{
    color: $text-color;
    width: 23rem;
    height: 7.8rem;
    margin-right: 10%;
    &_image{
      height: 100%;
    }
  }
}

.navbar{
  height: 100%;
  width: auto;
  &_wrapper{
    margin-top: 2.4rem;
    display: flex;
    &_elem{
      display: block;
      &_link{
        display: block;
        color: $text-color;
        font-size: 2.4rem;
        padding: 0 2rem;
        transition: 0.3s all;
        &:hover{
          transform: translateY(-5%);
          color: $main-color;
        }
      }
    }
  }

}