$darker-bg: var(--darker-bg);
$dark-bg: var(--dark-bg);
$lighter-bg: var(--lighter-bg);

$main-color: var(--main-color);

$text-color: var(--text-color);

$link-color: var(--link-color);
$link-active-color: var(--link-active-color);

$button-color: var(--button-color);
$button-active-color: var(--button-active-color);

$card-wrapper-bg: var(--card-wrapper-bg);

$card-loading-border-color: var(--card-loading-border-color);

//better not change, non-css variable
$card-loading-first-color: #ffffff;
$card-loading-second-color: #a4a4a4;

$card-loading-colored-first-color: #fdfcf3;
$card-loading-colored-second-color: #ebe3cc;
//end
