:root {
  --darker-bg: #000000;
  --dark-bg: #242424;
  --lighter-bg: #fff;
  --main-color: #f18928;
  --text-color: #ffffff;
  --link-color: #646cff;
  --link-active-color: #535bf2;
  --button-color: #1a1a1a;
  --button-active-color: #646cff;
  --card-wrapper-bg: #fff;
  --card-loading-border-color: #000;
}
